@using Kellton.Models

<table class="table table-bordered">
    <thead>
    </thead>
    <tbody>
        @foreach (var sport in Model)
        {
            <tr>
				<td>@sport.movieId</td>
                <th scope="row">@sport.movieName</th>
                <td>@sport.releaseYear</td>
				<td>@sport.genre</td>
            </tr>
         }
    </tbody>
</table>

