@model MovieSearch.Models.Movie.MovieModel

<table border="1" align="center" width="100%">
    <tr style="text-align: center; font-size: large; font-family: Calibri">
        <td>@Model.MovieId</td>
        <td>@Model.MovieName</td>
        <td>@Model.ReleaseYear</td>
        <td>@Model.Genre</td>
    </tr>
</table>
